:host {
  display: block;
}

:host ::ng-deep .content-item,
::ng-deep .cdk-drag-preview {
  border: 3px solid darkgreen;
  background: lightgreen;
  height: 5rem;
  display: grid;
  min-width: var(--content-item-min-width);
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

::ng-deep .cdk-drag-preview {
  opacity: 0.5;
  max-width: 20rem;
}

.buttons {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 1rem;
}

.header {
  display: flex;
  justify-content: flex-end;
  column-gap: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 5fr;
  column-gap: 2rem;
  align-items: flex-start;
}

.preview-mode {
  .col {
    display: grid;
    flex: 1;
    min-height: 10rem;
    row-gap: 1rem;
    padding: 1rem;
    align-content: flex-start;
    border: 1px solid blue;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--editor-column-spacing);
    column-gap: var(--editor-column-spacing);
  }
}
